li.active {
    background-position: 0 100% !important;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(400px - 2rem), 20vh));
    grid-auto-rows: 4px;
    column-gap: 1rem;
    justify-content: center;
    justify-items: center;
    width: 100%;
    /*   padding: 0 1rem 4rem; */
    margin: 0 auto 0;
    @media screen and (max-width: 400px) {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% - 2rem), 20vh));
    }
}

.masonry__item {
    box-sizing: border-box;
    grid-row: span var(--height);
    position: relative;
    width: 100%;
    height: fit-content;
    color: #fff;
    overflow: hidden;
}