/* .\tailwindcss-windows.exe --input ./assets/styles/tw.css --output ./assets/styles/output.css --watch */

@import 'tailwindcss';
@source not "../fonts";
@source not "../icons";
@source not "../images";
@source not "../../.vscode";
@source not "../../.git";

@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: OvertheRainbow;
  src: url('../fonts/OvertheRainbow-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Splash;
  src: url('../fonts/Splash-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Splash;
  src: url('../fonts/Linotype\ Feltpen\ Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@theme {
  --color-dark: #000;
  --color-light: #fff;
  --color-primary: #f78104;
  --color-secondary: #a0d3cc;
  --color-gray: #ababab;

  --font-oswald: Oswald;
  --font-poppins: Poppins;
  --font-over-the-rainbow: 'OvertheRainbow';
  --font-splash: Splash;
}

:root {
  font-family: var(--font-oswald);
  text-rendering: geometricPrecision;
}
@layer base {
  main {
    @apply z-1;
  }
  main,
  section,
  .pin-spacer {
    @apply bg-dark;
  }

  .container {
    @apply mx-auto px-4;
  }
}

[class*='btn-'] {
  @apply px-6 py-2 rounded-full uppercase max-w-max cursor-pointer;
  min-width: max-content;
  height: max-content;
}

.btn-primary {
  /* @apply bg-primary text-light border-2 border-primary inline-block; */
  @apply bg-transparent text-primary border-2 border-primary inline-block;
  transition: background-color 400ms ease, color 400ms ease;
  &:hover {
    /* @apply bg-light text-primary; */
    @apply bg-primary text-light;
  }
}
.btn-light {
  /* @apply bg-light text-dark border-2 border-light inline-block; */
  @apply bg-transparent text-light border-2 border-light inline-block;
  transition: background-color 400ms ease, color 400ms ease;
  &:hover {
    @apply bg-light text-dark;
    /* @apply bg-transparent; */
  }
}

.btn-secondary {
  transition: background-color 400ms ease, color 400ms ease, filter 400ms ease;
  @apply bg-dark text-secondary border-2 border-secondary inline-block;
  /* @apply bg-transparent; */
  &:not(:hover) {
    img {
      filter: brightness(0) saturate(100%) invert(82%) sepia(21%) saturate(340%)
        hue-rotate(122deg) brightness(96%) contrast(89%);
    }
  }
  &:hover {
    @apply bg-secondary text-dark;
  }
}

.btn-filter {
  @apply !rounded-md border bg-dark border-secondary hover:bg-primary hover:border-primary transition-colors duration-600;
}

.btn-filter[data-active] {
  @apply rounded-md border bg-dark not-[:has(~:hover)]:bg-primary border-primary transition-colors duration-600;
}

.max-mdhidden {
  @apply max-lg:!hidden;
}

.bannerTopTxt {
  @apply text-center font-splash text-secondary text-[calc(65rem_/_16)] -rotate-[1.32deg] translate-y-15 z-1;
}

.bannerBottomTxt {
  @apply text-center text-light text-5xl font-poppins font-bold uppercase;
  br {
    @apply hidden;
  }
}

.btn-tag {
  @apply p-2 !rounded-md border border-primary text-light font-medium;
}

.klaviyo-form input {
  @apply !rounded-full !text-base !bg-light/20 !text-light;
  &::placeholder {
    @apply !text-light/90 !text-base;
  }
}

.klaviyo-form span {
  @apply !uppercase;
}

.klaviyo-form button {
  @apply !px-6 !py-2 !rounded-full !uppercase !max-w-max !cursor-pointer;
  @apply !bg-transparent !text-primary !border-2 !border-primary !inline-block !text-base;
  @apply transition-colors duration-[400ms] ease-[ease];
  height: unset !important;
  &:hover {
    @apply !bg-primary !text-light;
  }
}

@media (width < 64rem) {
  .klaviyo-form [data-testid='form-row'] {
    flex-wrap: wrap !important;
    > * {
      width: 100% !important;
      flex: unset !important;
      flex-grow: 1 !important;
    }
  }
}

.klaviyo-form,
.klaviyo-form * {
  @apply !font-oswald;
}
