@media screen and (min-width: 1600px){
  section.kl-main {
    background-position : center top -276px;
  }
}

@media screen and (min-width: 1400px){
  .kl-main--body {
    width: 1349px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 992px){
  .menu-title #main-menu:not(.is-open){
    display: block !important;
  }
}

@media screen and (max-width: 1200px){
  section.kl-about-main-title {
    background-size: 1300px auto;
    padding-bottom: 246px;
    padding-top: 122px;
  }
}

@media screen and (max-width: 1199px){
  section.kl-main {
    padding: 167px 0 94px;
  }
  div.kl-main--body p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px){
  .menu-title{
    width: 100%;
    padding-top: 10px;
  }
  div.kl-top-header{
    h1{
      font-size: 40px;
    }
    p{
      font-size: 30px;
    }
    .kl-rounded-img {
      width: 273px;
      height: 273px;
    }
    .kl-img-wrapper:before{
      right: 257px;
    }
  }
  div.kl-main--body p {
    font-size: 14px;
  }
  section.kl-blog-main-title{
    background-size: 1300px auto;
  }
  .menu-title .logo {
    margin-top: 8px;
  }
  .kl-portrait{
    margin-bottom: 75px;
  }
  section.about-wrapper{
    padding-bottom: 50px !important;
  }
  section.kl-about-main-title {
    background-size: 1055px auto;
    padding-bottom: 213px;
    padding-top: 90px;
  }
}


@media screen and (max-width: 767px){
  .about-wrapper {
    margin-top: 0;
  }
  .kl-about-main-title{
    display: none;
  }
  .kl-portrait{
    margin-top: 50px;
  }
  section.kl-main {
    padding: 124px 0 94px;
  }
  div.kl-top-header {
    text-align: center;
    .kl-rounded-img{
      margin-top: 41px;
    }
    .kl-img-wrapper:before{
      display: none;
    }
  }

  div.kl-main--body .kl-rounded-img {
    height: auto;
    margin-bottom: 30px;
  }

  section.kl-about-main-title {
    background-size: 832px auto;
    padding-bottom: 131px;
    padding-top: 72px;
  }

  section.about-wrapper{
    .kl-txt-content{
      padding-right: 15px !important;
    }
  }

}

@media screen and (max-width: 575px){
  section.kl-main {
    background-size: 700px auto;
  }

  section.about-wrapper{
    .kl-txt-content{
      padding: 0 20px 0 34px!important;
    }
  }

  section.kl-about-main-title {
    background-size: 677px auto;
    padding-bottom: 64px;
    padding-top: 76px;
  }
}

@media screen and (max-width: 480px){
  div.kl-main--body .kl-rounded-img{
    border-radius: 20px;
  }
  div.kl-top-header{
    h1{
      font-size: 30px;
      margin-bottom: 10px;
    }
    p{
      font-size: 20px;
    }
    .kl-rounded-img {
      width: 225px;
      height: 225px;
    }
  }
  ul.social-icons-two li:not(:last-child) {
    margin-right: 5px;
  }
  section.kl-blog-main-title {
    padding: 147px 0 62px;
    background-size: 1176px auto;
    .page-title h1 {
      font-size: 40px;
    }
  }
  .menu-title .logo img {
    width: 189px;
  }

  section.kl-about-main-title .page-title h1 {
    font-size: 40px;
  }
  section.kl-about-main-title {
    background-size: 537px auto;
    padding-bottom: 10px;
    padding-top: 58px;
  }
  figure.kl-portrait {
    margin-bottom: 33px;
  }

  section.about-wrapper h2 {
    margin-bottom: 24px;
    font-size: 40px;
  }
  form.kl-frm-search input {
    padding: 20px 28px 20px 45px;
    background-position: center left 19px !important;
  }
}